header {
    color: red;
    font-size: 36px;
    font-weight: bold;
}

#grocery-list {
    color: white;
    background-color: chartreuse;
}

ul > li {
    font-size: 24px;
}

#my-img {
    width: 20px;

}

body {
    background-color: bisque;
}